<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital pleasure</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <section>
        <article>
            <img src="../public/imagenes/kit fetish.webp" width="200" alt="disfraces">
            <h3>Kit Fetish Sado 10 Piezas</h3>
            <p>$89.900</p>
        </article>
        <article>
            <img src="../public/imagenes/cosmetico 1.jpg" width="200"  alt="cosmetico1">
            <h3>Sachet Mulitorgásmico Multi Ohh</h3>
            <p>$5.000</p>
        </article>
        <article>
            <img src="../public/imagenes/conjunto brenda.webp" width="200"  alt="cosmetico1">
            <h3>Conjunto Brenda</h3>
            <p>$50.900</p>
        </article>
        <article>
            <img src="../public/imagenes/disfraz.webp" width="200" alt="disfraces">
            <h3>Hermosos y sexys disfraces</h3>
            <p>$79.900</p>
        </article>
    </section>
</body>
</html>
