<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <title>Formulario de inicio de sesión</title>
</head>
<body>
<header>
    <div id="N1">

      <img src="/img/Digital-Lips.svg" alt="Logo de Digital Lips" id="logo">
      <input type="search" name="search" placeholder="Buscar..." id="busqueda">
  </div>

  <div id="N2">
      <div class="logoholder">
          <i class="fa-solid fa-cart-shopping links" style="color: #050609;"></i>
      </div>
      <div class="logoholder">
          <i class="fa-solid fa-user links" style="color: #050609;"></i>
      </div>
  </div>
</header>
<main>
  <div class="container">
    <h1 id="iniciarsesion">Iniciar sesión</h1>
    <form>
      <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
      </div>
      <div class="form-recordar">
      <label for="recordar">Recordarme</label>
      <input type="checkbox" id="recordar" name="recordar">
      </div>
      <button type="submit">Iniciar sesión</button>
    </form>
    <div class="options">
      <a href="register.html">Registrarse</a>
      <a href="recuperar contraseña">¿Olvidó su contraseña?</a>
    </div>
  </div>
</main>
<footer>
        
  <div class="pie">
      <h2 id="seguinos">Seguinos</h2>
      <a href="https://www.instagram.com/"><img src="/img/instagram.svg" class="redes" alt="instagram"> </a>
      <a href="https://www.facebook.com/"><img src="/img/facebook.svg" class="redes" alt="instagram"> </a>
      <a href="https://twitter.com/home"><img src="/img/twitter.svg" class="redes" alt="instagram"> </a>
  </div>
  <div class="pie">
      <h2 class="foot">Acerca de</h2>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis maiores nobis nulla, dolore
          libero ducimus labore. Dolorem officiis consectetur tempore, aliquid totam esse adipisci praesentium
          asperiores hic blanditiis eos. Error atque doloremque, molestias dolor, repellat ut eveniet a esse
          amet
          accusantium aut nam dolore distinctio dolorem eligendi cumque fugit!</p>
  </div>
  <div class="pie">
      <h2>Ubicación</h2>
      <a href="https://www.google.com/maps/@-34.602548,-58.3860906,16.25z?authuser=0&entry=ttu">
          <img src="/img/mapa.png" alt="Ubicación" id="mapa"> </a>
  </div>

</div>
</footer>

</body>
</html>

