<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css" >
  <link rel="stylesheet" href="/css/header-footer.css" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <title>Formulario de inicio de sesión</title>
</head>
<body>
<header>
    <div id="N1">

      <img src="/imgenes-header-footer/Digital-Lips.svg" alt="Logo de Digital Lips" id="logo">
      <input type="search" name="search" placeholder="Buscar..." id="busqueda">
  </div>

  <div id="N2">
      <div class="logoholder">
          <i class="fa-solid fa-cart-shopping links" style="color: #050609;"></i>
      </div>
      <div class="logoholder">
          <i class="fa-solid fa-user links" style="color: #050609;"></i>
      </div>
  </div>
</header>
<main>
<body>
    <div class="container">
      <h1>Registro</h1>
      <form>
        <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
  </div>
        <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
  </div>
        <div>
        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
  </div>
        <div>
        <label for="paisNacimiento">País de nacimiento:</label>
        <input type="text" id="paisNacimiento" name="paisNacimiento" required>
  </div>
        <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
  </div>
        <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
  </div>
        <div>
        <label for="confirmPassword">Repetir contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
  </div>
        <div class="buttons">
          <button type="submit">Registrarse</button>
          
        </div>
      </form>
    </div>
</body>

</main>


<footer>
        
  <div class="pie">
      <h2 id="seguinos">Seguinos</h2>
      <a href="https://www.instagram.com/"><img src="/imgenes-header-footer/instagram.svg" class="redes" alt="instagram"> </a>
      <a href="https://www.facebook.com/"><img src="/imgenes-header-footer/facebook.svg" class="redes" alt="instagram"> </a>
      <a href="https://twitter.com/home"><img src="/imgenes-header-footer/twitter.svg" class="redes" alt="instagram"> </a>
  </div>
  <div class="pie">
      <h2 class="foot">Acerca de</h2>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis maiores nobis nulla, dolore
          libero ducimus labore. Dolorem officiis consectetur tempore, aliquid totam esse adipisci praesentium
          asperiores hic blanditiis eos. Error atque doloremque, molestias dolor, repellat ut eveniet a esse
          amet
          accusantium aut nam dolore distinctio dolorem eligendi cumque fugit!</p>
  </div>
  <div class="pie">
      <h2>Ubicación</h2>
      <a href="https://www.google.com/maps/@-34.602548,-58.3860906,16.25z?authuser=0&entry=ttu">
          <img src="/imgenes-header-footer/mapa.png" alt="Ubicación" id="mapa"> </a>
  </div>

</div>
</footer>

</body>
</html>
