<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/carga.css" >
  <link rel="stylesheet" href="/css/styles.css" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />  
  <link rel="icon" href="/img/Digital-Lips.svg">

  <title>Agregar un Producto</title>

</head>
<body>

    <%- include('./partials/navbar.ejs'); %>


<main>

    <form action="/products/create" method="post" enctype="multipart/form-data">
        <h1>Agregar un producto</h1>
    <div class="base">

        <div class="holder">
            <h4>Indicá producto y características principales</h4>
            <input type="text" id="nombre" placeholder="Ej: Juguete de cuentas para masaje de diamante metal" class="contenedor" name="nombre" required>
        </div>            
        <div class="holder">
            <h4>Descripción</h4>
            <input type="text" id="descripción" placeholder="Ej: Lorem" class="contenedor" name="descripcion">
        </div>
        <div class="holder">
            <h4>Precio del producto</h4>
            <input type="text" id="precio" placeholder="Ej: $20.000" class="contenedor" name="price" required>
        </div>
        <div class="holder">
            <h4>Stock del producto</h4>
            <input type="text" id="stock" placeholder="Ej: 25" class="contenedor" name="stock" required>
        </div>
        <div class="holder">
            <div class="categorias">
                <h4>Agregar categoría:</h4>
                <label><input type="checkbox" id="cbox1" value="Juguetes" name="cbox1"> Juguetes</label>
                <label><input type="checkbox" id="cbox1" value="Lubricantes" name="cbox2"> Lubricantes</label>
                <label><input type="checkbox" id="cbox1" value="Lencería" name="cbox3"> Lencería</label>
                <label><input type="checkbox" id="cbox1" value="Fetiche" name="cbox4"> Fetiche</label>
                <label><input type="checkbox" id="cbox1" value="Diversión erótica" name="cbox5"> Diversión erótica</label>
            </div>
        </div>
            <br>
            <h4>Cargar fotos del producto</h4>
            <div class="fotos">
                <div class="imagen" id="principal">
                    <img src="/img/blank.png">
                    <i class="fa-solid fa-trash" style="color: #000000;"></i>
                </div>
                <div class="secundaria">

                    <div class="imagen">
                        <img src="/img/blank.png">
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                    <div class="imagen">
                        <img src="/img/blank.png">
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                    <div class="imagen">
                        <img src="/img/blank.png">
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                </div>
            </div>
            <input type="file" id="inputarchivo" name="img" style="display: none;" ><br>
            <label for="inputarchivo" id="seleccionar">Seleccior archivos</label>
            <br>
        <div class="holder">
            <h4>Fecha de creación</h4>
            <input type="date" id="fecha" class="contenedor" name="fecha" required>
        </div>
            <br>
        <div id="declaro">
                
                <input type = "checkbox" id="mayorEdad">
                <label for="mayorEdad">
                      Declaro que tengo más de 18 años y acepto los Terminos y Condiciones de Adultos.</label>
                    
        </div>
        <p>
            <button type="submit" id="sumar" value="agregar" class="contenedor3">Agregar producto</button>
            <button type="reset" id="borrar" value="borrar" class="contenedor3">Borrar producto</button>
        </p>
    </div>
</form>

    </main>

    <%- include('./partials/footer.ejs'); %>

</body>
</html>