.navimg{
    width: 50px;
    margin-right: 25px ;
    border-radius: 10px;
}

.row {
    justify-content: space-evenly;
}

.navbar-nav {
width: 20%;
justify-content: space-around;
}

.navlinks{
    text-decoration: none;
    align-items: center;
    color: #444444;
}
.navlinks:hover{
    text-decoration: none;
    transition: 400ms;
    color: #111111;
}
