<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="../public/imgenes-header-footer/Digital-Lips.svg">

</head>
<body>

    <header>
        <nav>

            <div id="N1">
                <img src="/img/Digital-Lips.svg" alt="Logo de Digital Lips" id="logo">
                <input type="search" name="search" placeholder="Buscar..." id="busqueda">
            </div>
            
            <div id="N2">
                <div class="logoholder">
                    <i class="fa-solid fa-cart-shopping links" style="color: #050609;"></i>
                </div>
                <div class="logoholder">
                    <i class="fa-solid fa-user links" style="color: #050609;"></i>
                </div>
            </div>
        </nav>
        <div style="height: 60px;"></div>
    </header>


<main>

    <article id="compra">
        
        <div class="producto">
            <div class="productoDetallado">
            <h1> Nombre del producto (detalles mínimos)</h1>
            <div class="swiffy-slider">
                <ul class="slider-container">
                    <li><img src="/img2/juguete1.png"></li>
                    <li><img src="/img2/juguete2.png"></li>
                    <li><img src="/img2/juguete3.png"></li>
                    <li><img src="/img2/juguete4.png"></li>
                </ul>
            
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            
                <div class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                    <button></button>
                </div>
            </div>
            </div>
            <br>
            <div class="costado">
            <h1>$   15.000</h1>
            <h2>Características del producto</h2>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam nisi reiciendis, laboriosam itaque ea officiis eum dolore soluta. Dolores voluptatibus minus optio! Consectetur nobis numquam amet dolores a quos deserunt!</h3>
            <br>
            <div class="boton">
                <button class="boton1">CONTINUAR COMPRA</button>
                <br>
                <button class="boton2">AGREGAR AL CARRITO</button>
            </div>
            </div>
        </div>
        <br>

        <div class="container">
            <h1>Productos relacionados</h1>
            <div class="container1">
                <div class="carta1">
                    <p><img src="/img2/juguete2.png"></p>
                    <p>$ 28.000 
                        <br>
                    (Detalle)</p>
                </div>
                <br>
                <div class="carta2">
                    <p><img src="/img2/juguete3.png"></p>
                    <p>$ 15.000 <br> 
                    (Detalle)</p>
                </div>
                <br>
                <div class="carta3">
                    <p><img src="/img2/juguete4.png"></p>
                    <p>$ 12.000 <br> 
                    (Detalle)</p>
                </div>
            </div>
            </div>
    </article>

</main>

    <footer>
        <div class="pie">
            <h2 id="seguinos">Seguinos</h2>
            <a href="https://www.instagram.com/"><img src="/img/instagram.svg" class="redes" alt="instagram"> </a>
            <a href="https://www.facebook.com/"><img src="/img/facebook.svg" class="redes" alt="instagram"> </a>
            <a href="https://twitter.com/home"><img src="/img/twitter.svg" class="redes" alt="instagram"> </a>
        </div>
        <div class="pie">
            <h2 class="foot">Acerca de</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis maiores nobis nulla, dolore
                libero ducimus labore. Dolorem officiis consectetur tempore, aliquid totam esse adipisci praesentium
                asperiores hic blanditiis eos. Error atque doloremque, molestias dolor, repellat ut eveniet a esse
                amet
                accusantium aut nam dolore distinctio dolorem eligendi cumque fugit!</p>
        </div>
        <div class="pie">
            <h2>Ubicación</h2>
            <a href="https://www.google.com/maps/@-34.602548,-58.3860906,16.25z?authuser=0&entry=ttu">
                <img src="/img/mapa.png" alt="Ubicación" id="mapa"> </a>
        </div>
  </footer>

</body>
</html>