@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kalam:wght@300;400;700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}
header {
    background-color: #F564A9;
    height: 120px;
    display: flex;
    position: fixed;
    width: 100vw;
}

main{
    margin-top: 120px;
}


#N1 {
    display: flex;
    width: 55%;
    height: 100%;
}

#N2 {
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: row-reverse;
    flex-wrap:wrap ;
}

#logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    margin: 20px;
    margin-left: 10vw;
}

#busqueda {
    width: 35vw;
    height: 50%;
    border-radius: 35px;
    padding: 15px;
    font-size: 16px;
    display: none;
    margin: 30px;
    margin-left: 25%;
}


.links {
    font-size: 25px;

}

.logoholder {

    border-radius: 50%;
    border: solid 2px #050609;
    width: 50px;
    height: 50px;
    margin: 35px 10% 35px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
    text-decoration: none;
}

footer {
    background-color: #050609;
    height: 400px;
    text-align: center;
    color: #FCFFFC;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#seguinos {
    padding-top: 45px;
    font-size: 50px;
}

h2 {
    font-family: 'Kalam', cursive;
    padding: 20px;
    font-size: 40px;
    margin: 0px;
}

.redes {
    height: 60px;
    border-radius: 50%;
    margin: 30px;
    margin-top: 0px;
}

#mapa {
    width: 85%;
    padding-bottom: 45px;
}

footer p {
    font-size: 18px;
    padding: 0 45px 0 45px;
}

.slide img {
  width: 100%;
}

h2 {
  border: 2px solid white;
  width: 100%;
  font-family: "Kalam", cursive;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ff299c;
  color: white;
  font-size: 30px;
  padding: 10px;
  box-sizing: border-box;
}

p {
  font-size: large;
  padding-top: 20px;
}
.imagen-ofertas {
  width: 100%;
  border-radius: 9px;
  margin: 0 auto;
  display: block;
}

 .products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.items-product {
  color: #f564a9;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content:flex-start;
  border: 1px solid #f564a9;
  text-align: center;
  border-radius: 10px;
  max-width: 200px;
}

.descripcion{
  color:#050609;
}

button {
  margin-bottom: 5px;
  border-radius: 50px;
  background-color: #ff299c;
  color: black;
  font-size: larger;
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 480px) {
  .redes {
    margin: 4%;
    height: 15%;
  }

  footer p {
    font-size: 16px;
    padding: 0 20% 0 20%;
  }

  #mapa {
    width: auto;
    height: 65%;
  }

  .seccion-home {
    width: 100%;
    background-color: #FCFFFC;
  }
  .imagen-ofertas {
    width: 100%;
  }

  .products{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }

}

@media (min-width: 769px) {
    #N1 {
        display: flex;
        width: 75%;
    }
    #N2 {
        width: 25%;
        display: flex;
    }
    #busqueda{
        display: flex;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
    footer p {
        font-size: 16px;
        padding: 0 10% 0 10%;
    }
    .pie{
        width: 33%;
    }
    .redes{
        margin: 4%;
        height: 6vw;
    }
    #mapa {
        width: 75%;
        height: auto;
    }


}
@media (min-width: 1280px) {
    .redes{
        margin: 4%;
        height: 6vw;
    }
    footer p {
        font-size: 16px;
        padding: 0 20% 0 20%;
    }
    #mapa {
        width: auto;
        height: 20vw;
    }
}