@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kalam:wght@300;400;700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}
nav {
    background-color: #F564A9;
    height: 120px;
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

main{
    margin-top: 120px;
}


#N1 {
    width: fit-content;
    display: flex;
    height: fit-content;
}

#N2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    flex-wrap:wrap ;
    align-items: center;
}

#logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    margin: 20px;
    margin-left: 10vw;
}

#busqueda {
    width: 35vw;
    height: 50%;
    border-radius: 35px;
    padding: 15px;
    font-size: 16px;
    display: none;
    margin: 30px;
}


.links {
    font-size: 20px;

}

.logoholder {

    border-radius: 50%;
    border: solid 2px #050609;
    width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
    text-decoration: none;
}

footer {
    background-color: #050609;
    height: 400px;
    text-align: center;
    color: #FCFFFC;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#seguinos {
    padding-top: 45px;
    font-size: 50px;
}

footer h2 {
    font-family: 'Kalam', cursive;
    padding: 20px;
    font-size: 40px;
    margin: 0px;
    border: none;
    background-color: #050609;
    color: #FCFFFC;
}

 .redes {
    height: 60px;
    border-radius: 50%;
    margin: 30px;
    margin-top: 0px;
}

 #mapa {
    width: 85%;
    padding-bottom: 45px;
}

footer p {
    font-size: 18px;
    padding: 0 45px 0 45px;
}

@media (min-width: 361px) {

    nav .links{
        font-size: 25px;
    }
    .logoholder{
        width: 50px;
        height: 50px;
        margin: 0px 5%;
    }

}

@media (min-width: 769px) {

    .logoholder{
        margin: 0px 12%;
    }
    #N1 {
        display: flex;
        width: 75%;
    }
    
    #N2 {
        width: 25%;
        display: flex;
    }

    #busqueda{
        display: flex;
        margin-left: 15%;
        }



    footer{
        display: flex;
        flex-direction: row;
    }

    footer p {
        font-size: 16px;
        padding: 0 10% 0 10%;
    }

    .pie{
        width: 33%;
    }

    .redes{
        margin: 4%;
        height: 6vw;
    }

    #mapa {
        width: 75%;
        height: auto;
    }
}

@media (min-width: 1280px) {

    #busqueda{
        margin-left: 22%;
    }

    .logoholder{
        margin: 0px 12%;
    }

    .redes{
        margin: 4%;
        height: 4vw;
    }

    footer p {
        font-size: 16px;
        padding: 0 20% 0 20%;
    }

    #mapa {
        width: auto;
        height: 20vw;
    }
}