<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Digital pleasure</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/img/Digital-Lips.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

  <body>
    <header>
        <nav>
            <div id="N1">
             <a href="/"> <img src="/img/Digital-Lips.svg" id="logo"> </a>  
                <input type="search" name="search" placeholder="Buscar..." id="busqueda">
            </div>
            
            <div id="N2">
                <div class="logoholder">
                    <a href="/cart">    <i class="fa-solid fa-cart-shopping links" style="color: #050609;"></i>
                </div>
                <div class="logoholder">
                    <a href="/login">    <i class="fa-solid fa-user links" style="color: #050609;"></i>
                </div>
            </div>
        </nav>
            
      <div style="height: 120px;"></div>

  </header>
    <main class="seccion-home">
        <section class="carrusel">
        <div class="slide"><img src="img2/carrusel.png" /></div>
      </section>
      <h2 class="ofertas">OFERTAS</h2> 
        <div class="products">
        <div class="items-product">
              <img class="imagen-ofertas" src="/img2/conjunto brenda.webp"alt="lenceria">
            <div class="description-product">
              <p class="descripcion">Conjunto Brenda</p>
              <p class="descripcion">$120.000</p>
              <button type="submit">COMPRAR</button>
            </div>
        
        </div>
        <div class="items-product">
            <img class="imagen-ofertas" src="/img2/cosmetico 1.jpg" alt="">
            <div class="description-product">
            <p class="descripcion">Sachet Mulitorgásmico Multi Ohh</p>
            <p class="descripcion">$5.000</p>
            <button type="submit">COMPRAR</button>
        </div>
        </div>
        
        <div class="items-product">
            <img class="imagen-ofertas" src="/img2/disfraz.webp" alt="">
            <div class="description-product">
            <p class="descripcion">Enfermera Body</p>
            <p class="descripcion">$69,900</p>
            <button type="submit">COMPRAR</button>
        </div>
        </div>
        <div class="items-product">
            <img class="imagen-ofertas" src="/img2/kit fetish.webp" alt="">
            <div class="description-product">
            <p class="descripcion">Kit Sado Fetish 8 Piezas</p>
            <p class="descripcion">$89,900</p>
            <button type="submit">COMPRAR</button>
            </div>
        </div>
        
        <div class="items-product">
            <img class="imagen-ofertas" src="/img2/vibrador-interactivo.webp" alt="">
            <div class="description-product">
            <p class="descripcion">Vibrador Interactivo Para parejas</p>
            <p class="descripcion">$264.900</p>
            <button type="submit">COMPRAR</button>
        </div>
        </div>
        <div class="items-product">
            <img class="imagen-ofertas" src="/img2/estimulador.webp" alt="">
            <div class="description-product">
            <p class="descripcion">Estimulador Clítoris Pato ZK009</p>
            <p class="descripcion">$120.000</p>
            <button type="submit">COMPRAR</button>
        </div>
        </div>
    </div>
</div>
    </section>
    </main>
<footer>
      <div class="pie">
          <h2 id="seguinos">Seguinos</h2>
          <a href="https://www.instagram.com/"><img src="/img/instagram.svg" class="redes" alt="instagram"> </a>
          <a href="https://www.facebook.com/"><img src="/img/facebook.svg" class="redes" alt="instagram"> </a>
          <a href="https://twitter.com/home"><img src="/img/twitter.svg" class="redes" alt="instagram"> </a>
      </div>
      <div class="pie">
          <h2 class="foot">Acerca de</h2>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis maiores nobis nulla, dolore
              libero ducimus labore. Dolorem officiis consectetur tempore, aliquid totam esse adipisci praesentium
              asperiores hic blanditiis eos. Error atque doloremque, molestias dolor, repellat ut eveniet a esse
              amet
              accusantium aut nam dolore distinctio dolorem eligendi cumque fugit!</p>
      </div>
      <div class="pie">
          <h2>Ubicación</h2>
          <a href="https://www.google.com/maps/@-34.602548,-58.3860906,16.25z?authuser=0&entry=ttu">
              <img src="/img/mapa.png" alt="Ubicación" id="mapa"> </a>
      </div>

  </div>
</footer>
  </body>
</html>
