<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Digital pleasure</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/img/Digital-Lips.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

  <body>
    <header>
        <nav>
            <div id="N1">
                <img src="/img/Digital-Lips.svg" id="logo">
                <input type="search" name="search" placeholder="Buscar..." id="busqueda">
            </div>
            
            <div id="N2">
                <div class="logoholder">
                    <i class="fa-solid fa-cart-shopping links" style="color: #050609;"></i>
                </div>
                <div class="logoholder">
                    <i class="fa-solid fa-user links" style="color: #050609;"></i>
                </div>
            </div>
        </nav>
            
      <div style="height: 120px;"></div>

  </header>

</body>

</html>